In [1]:
import pandas as pd

In [21]:
df = pd.read_csv("example_datafile.csv")

In [23]:
pd.set_option('display.max_columns', None)

In [31]:
df[df["SAT"] =='690\nSAT']

,user_url,username,current_school,user_major,hometown,gender,ethnicity,English_FL,Admission,class_of,first_gen,accepted_schools,waitlisted_schools,rejected_schools,legacy,GPA_measure,GPA,rank,num_of_Essays,num_of_Scores,num_of_Advice,num_of_ECs,num_of_Sports,num_of_schools,SAT,ACT
448,https://www.admitsee.com/profile-detail/260060,"Rdozier3,",Penn State,"B.A., Film and Video Studies","\nDavidsonville, Maryland",Male,Black / African American,NaN,NaN,2019.0,No,Penn State,NaN,NaN,No,NaN,3.24\nGPA,NaN,0\nEssays,5\nScores,0\nAdvice,2\nECs,0\nSports,1\nSchools,690\nSAT,NaN

In [33]:
df["SAT"].unique()

array(['1590\nSAT', '1510\nSAT', nan, '2200\nSAT', '1560\nSAT',
       '1540\nSAT', '1550\nSAT', '1570\nSAT', '1520\nSAT', '1580\nSAT',
       '1530\nSAT', '1480\nSAT', '1600\nSAT', '1470\nSAT', '1500\nSAT',
       '1490\nSAT', '1450\nSAT', '1440\nSAT', '1390\nSAT', '1380\nSAT',
       '1460\nSAT', '1430\nSAT', '1410\nSAT', '1300\nSAT', '1299\nSAT',
       '1360\nSAT', '1370\nSAT', '1400\nSAT', '600\nSAT', '610\nSAT',
       '1350\nSAT', '1270\nSAT', '1120\nSAT', '1090\nSAT', '1420\nSAT',
       '1320\nSAT', '222\nSAT', '1330\nSAT', '1340\nSAT', '1260\nSAT',
       '1190\nSAT', '1200\nSAT', '1100\nSAT', '1240\nSAT', '1140\nSAT',
       '1290\nSAT', '1210\nSAT', '690\nSAT', '1130\nSAT', '1250\nSAT',
       '1230\nSAT', '1160\nSAT', '830\nSAT', '1220\nSAT', '860\nSAT',
       '2310\nSAT', '2270\nSAT', '34\nSAT', '2300\nSAT', '1150\nSAT',
       '2010\nSAT', '1180\nSAT', '1310\nSAT', '1040\nSAT', '700\nSAT',
       '1011\nSAT', '2260\nSAT', '35\nSAT', '1920\nSAT', '1770\nSAT',
       '1820\nSAT'], dtype=object)